@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #333;
}

.header {
    display: flex;
    align-items: center;
    margin-right: 90px;
    margin-bottom: 20px;
}
.header .back-arrow {
    font-size: 30px;
    color: #E60012;
    cursor: pointer;
    margin-right: 10px;
}
.header h1 {
    font-size: 20px;
    font-weight: bold;
    color: #E60012;
    margin: 0;
}
.card {
    background-color: #f6f6f6;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 4px 10px #d6d5d5;
    margin-bottom: 20px;
    width: 310px;
}
.power-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.power-card .power-text {
    font-size: 12px;
    font-weight: bold;
}
.power-card .power-status {
    width: 20px;
    height: 20px;
    background-color: #E60012;
    border-radius: 50%;
}
.local-card {
    text-align: center;
    display: flex;
    padding: 10px;
    padding-bottom: 5px;
}
.local-card .local-icon img {
    width: 85px;
    height: 80px;
    margin-right: 5px;
}
.local-card .local-title {
    font-size: 12px; 
    color: #888;
    text-align: left;
}
.local-card .local-subtitle {
    font-size: 14px;
    color: #676767;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
}
.tabs {
    display: flex;
    justify-content: space-around;
    background-color: #e1e1e1;
    border-radius: 6px;
    padding: 2px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px #d6d5d5;
}
.tab-button {
    flex: 1;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #d9d9d9;
    cursor: pointer;
    border-radius: 6px;
    color: #333;
}
.tab-button.active {
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 10px #d6d5d5;
}
.energy-usage-card .title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.energy-metrics {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.energy-metric {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.energy-metric .value {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}
.energy-metric .label {
    font-size: 8px;
    color: #888;
}
.energy-usage-card .more-button {
    width: 100%;
    padding: 6px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    color: #676767;
}
.actions-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}
.action-item {
    background-color: #f6f6f6;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 10px #d6d5d5;
    cursor: pointer;
}
.action-item .icon {
    font-size: 40px;
    color: #d9534f;
    margin-bottom: 1000px;
}
.action-item .label {
    font-size: 13px;
    font-weight: bold;
}
/* Modificações para o card de transferência de energia */
.transfer-card {
    background: linear-gradient(103deg, rgba(245, 178, 178, 1) 30%, rgba(235, 228, 228, 1) 89%, rgba(255, 255, 255, 1) 100%);
    border-radius: 6px;
    padding: 5px;
    /* Usa Flexbox para controlar o layout dos itens */
    display: flex;
    /* Alinha os itens na vertical ao centro */
    align-items: center;
    /* Distribui o espaço, empurrando os itens para as pontas */
    justify-content: space-between;
    width: 96%;
    height: 50px;
    box-shadow: 0 4px 10px #d6d5d5;
}
/* Container que agrupa os dois textos */
.info-container {
    /* Define a direção da coluna para os textos */
    display: flex;
    flex-direction: column;
    gap: 0px; 
    padding: 3px;
}
/* Título e subtítulo */
.transfer-card .info-title {
    font-size: 12px;
    font-weight: bold;
    color: #333;
    margin-bottom: 2px;
    position: absolute;
    margin-top: -20px;
}
.transfer-card .info-label {
    font-size: 10px;
    color: #676767;
    position: absolute;
    margin-top: 5px;
}
/* Altera o tamanho do logo */
.transfer-card .brand {
    height: 20px;
}
.voltar-vector{
    width: 13px;
    height: 14px;
    margin-right: 5px;
}