@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 375px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

header {
    padding: 20px;
    background-color: #fff;
    text-align: left;
}

header h1 {
    color: #e60023;
    margin: 0;
    font-size: 2em;
}

.filter-bar {
    position: relative; /* Necessário para posicionar o indicator */
    display: flex;
    padding: 3px; 
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
    overflow: hidden; /* Garante que o indicador não saia */
}

.filter-bar .indicator {
    position: absolute;
    top: 3px;
    left: 3px; /* Posição inicial para o primeiro botão */
    width: calc(50% - 3px); /* Metade da largura do filter-bar, descontando o padding */
    height: calc(100% - 6px); /* Altura total do filter-bar, descontando o padding */
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15); 
    transition: left 0.3s ease; /* Transição para o movimento horizontal */
    z-index: 0; 
}

.filter-bar .indicator.right {
    left: calc(50% + 1.5px); /* Move para a direita */
}


.filter-bar button {
    flex: 1; /* Divide o espaço igualmente entre os botões */
    padding: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    color: #555;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: color 0.3s ease; /* Tempo de transição de cor */
}

.filter-bar button.active {
    color: #333;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.add-items {
    max-width: 80%;
}

.add-items h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

.add-items p {
    color: #777;
    font-size: 0.9em;
    line-height: 1.5;
    margin-bottom: 30px;
}

.add-button {
    background-color: transparent;
    border: 2px solid #3b3939;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
    color: #3b3939;
    transition: all 0.2s ease-in-out;
    margin: 0 auto;
}

.add-button:hover {
    border-color: #aaa;
    color: #aaa;
}

